* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #FFF8DC;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

.fa-trash {
  margin-left: 0.75rem;
}

.incompleted {
  color: #000;
  cursor: pointer;
}

.completed {
  color: #010101;
  text-decoration: line-through;
  cursor: pointer;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}
